body {
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: beige;
}

.card-header {
    font-size: 1.5em;
    margin-top: 0em;
    text-align: left;
    color: white;
    background-color: black;
}

.card-text {
    position: absolute;
    bottom: 1em;
    margin-bottom: 0;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 25%;
    background-color: gray;
    padding: .5em;
    font-size: 1.15em;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    top: 0;
    padding: 1.5em;
    grid-area: header;
    line-height: .25em;
}

#navbar {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    line-height: 2em;
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    margin-left: 0;
    grid-area: nav;
}

#nav-items {
    text-align: left;
    margin-left: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.card-button {
    position: absolute;
    bottom: 0;
    border-radius: 35%;
    left: 35%;
}

.card-button a {
    color: blue;
    font-size: 1.2em;
}

footer {
    text-align: center;
    background-color: pink;
    font-size: 1em;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-top: .05em;
    padding-bottom: 1em;
    grid-area: footer;
}

#golden-card {
    grid-area: golden;
    border-style: solid;
    text-align: center;
    background-image: url("/Users/chris/Documents/Udacity Project 1 Blog Post/pictures/golden-retriever.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lab-card {
    grid-area: lab;
    border-style: solid;
    text-align: center;
    background-image: url("/Users/chris/Documents/Udacity Project 1 Blog Post/pictures/labrador retriever.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#beagle-card {
    grid-area: beagle;
    border-style: solid;
    text-align: center;
    background-image: url("/Users/chris/Documents/Udacity Project 1 Blog Post/pictures/beagle_pic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#border-card {
    grid-area: collie;
    border-style: solid;
    text-align: center;
    background-image: url("/Users/chris/Documents/Udacity Project 1 Blog Post/pictures/Border-Collie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    text-align: center;
    border-radius: 2%;
    position: relative;
}

#card-container {
    display: inline-grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "golden lab" "beagle collie";
    border-style: solid;
    border-color: black;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0;
    padding-bottom: 0;
    grid-area: cards;
}

#master-container {
    display: grid;
    grid-template-rows: 15% auto 10%;
    grid-template-columns: 15% auto;
    grid-template-areas: "header header" "nav cards" "footer footer";
    width: 100%;
    height: 100vh;
}