body {
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: beige;
}

.card-header {
    font-size: 1.5em;
    margin-top: 0;
    text-align: left;
    color: white;
    background-color: black;
}

.card-text {
    margin-top: 20em;
    margin-bottom: 1em;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 25%;
    background-color: gray;
    padding: .5em;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 100%;
    text-align: center;
    top: 0;
    padding: 0;
}

#navbar {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    width: 15%;
    line-height: 2em;
    align-items: flex-start;
    padding: 0;
    text-align: left;
    margin-left: 0;
}

#nav-items {
    text-align: left;
    margin-left: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    margin-bottom: .25em;
    border-radius: 5%;
    padding: .5em;
    outline: none;
    font-size: 1em;
    color: pink;
}

footer {
    text-align: center;
    background-color: pink;
    font-size: 1em;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-top: .05em;
    padding-bottom: 1em;
}

#golden-card {
    grid-area: golden;
    border-style: solid;
    text-align: center;
    background-image: url("/Users/chris/Documents/Udacity Project 1 Blog Post/pictures/golden-retriever.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lab-card {
    grid-area: lab;
    border-style: solid;
    text-align: center;
    background-image: url("/Users/chris/Documents/Udacity Project 1 Blog Post/pictures/labrador retriever.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#beagle-card {
    grid-area: beagle;
    border-style: solid;
    text-align: center;
    background-image: url("/Users/chris/Documents/Udacity Project 1 Blog Post/pictures/beagle_pic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#border-card {
    grid-area: collie;
    border-style: solid;
    text-align: center;
    background-image: url("/Users/chris/Documents/Udacity Project 1 Blog Post/pictures/Border-Collie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    text-align: center;
}

#card-container {
    display: inline-grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "golden lab" "beagle collie";
    border-style: solid;
    border-color: black;
    grid-column-gap: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0;
    padding-bottom: 0;
}