body {
    background-color: pink;
    top: 0;
    width: 100%;
}

.social-pics {
    height: 5%;
    width: 5%;
}

.dog-image {
    height: 50%;
    width: 50%;
}

#dog-flex {
    display: flex;
    flex-direction: column;
}

.dog-article {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}