@import url("main.grid.index.css");
@import url("mediaqueries.css");
@import url("photo.grid.index.css");
body {
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: #fdfdfd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-header {
    font-size: 1.5em;
    margin-top: 0em;
    margin-left: .2em;
    text-align: left;
    color: white;
    text-shadow: 1px 2px black;
    width: 100%;
}

.card-text {
    position: absolute;
    bottom: 1em;
    margin-bottom: 1em;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 25%;
    background-color: #8f7983;
    box-shadow: 1px 4px #362d31;
    padding: .5em;
    margin-left: .1em;
    margin-right: .1em;
    font-size: 1em;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: #fbf2c0;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    padding-top: 1em;
    grid-area: header;
    line-height: .5em;
}

#navbar {
    display: flex;
    flex-direction: column;
    background-color: #c4a287;
    line-height: 2em;
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    margin-left: 0;
    grid-area: nav;
}

#nav-items {
    text-align: left;
    margin-left: 0;
    padding-left: .5em;
}

#nav-items a:hover {
    color: purple;
}

#nav-items a:active {
    color: purple;
}

li {
    list-style-type: disc;
}

a {
    text-decoration: none;
    color: black;
}

.card-button {
    position: absolute;
    bottom: 0;
    border-radius: 35%;
    left: 35%;
}

.card-button:hover {
    background-color: rgb(189, 184, 184);
}

.card-button:active {
    background-color: rgb(189, 184, 184);
    transform: translateX(.2em);
}

.card-button a {
    color: black;
    font-size: 1.2em;
    padding: .12em;
}

footer {
    text-align: center;
    background-color: #c06e52;
    font-size: 1em;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-top: .05em;
    padding-bottom: 1em;
    grid-area: footer;
}

#golden-card {
    grid-area: golden;
    text-align: center;
    background-image: url("../../pictures/golden-retriever.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lab-card {
    grid-area: lab;
    text-align: center;
    background-image: url("../../pictures/labrador retriever.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#beagle-card {
    grid-area: beagle;
    text-align: center;
    background-image: url("../../pictures/beagle_pic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#border-card {
    grid-area: collie;
    text-align: center;
    background-image: url("../../pictures/Border-Collie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    text-align: center;
    border-radius: 2%;
    border-width: .2em;
    position: relative;
}