@import "mediaqueries.css";
body {
    background-color: #fdfdfd;
    top: 0;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.social-pics {
    height: 25px;
    width: 25px;
}

.dog-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#blog-post-header {
    margin: 0;
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    grid-area: header;
    text-align: center;
    background-color: #fced9c;
    border-style: outset;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#golden-pic {
    grid-area: golden;
}

#lab-pic {
    grid-area: lab;
}

#border-pic {
    grid-area: border;
}

#beagle-pic {
    grid-area: beagle;
}

.landing-pic {
    width: 50vw;
    height: 44vh;
    border-style: solid;
    border-width: .15em;
    border-color: #f5f1f1;
    border-radius: 2%;
}

#dog-grid {
    display: grid;
    grid-template-rows: 40vh 40vh;
    grid-template-columns: 50vw 50vw;
    grid-template-areas: "golden lab" "border beagle";
    grid-area: dog-grid;
    margin-right: 0;
    margin-left: 0;
    width: 100vw;
    height: 88vh;
}

#landing-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 12vh 88vh;
    height: 100vh;
    width: 100vw;
    grid-row-gap: 0;
    grid-column-gap: 0;
    left: 0;
    text-align: center;
    grid-template-areas: "header" "dog-grid";
}

.dog-quote {
    background-color: #fced9c;
    border-style: outset;
    width: 20em;
    padding: .5em;
    margin-top: 0;
    border-radius: 10%;
    box-shadow: .2em .4em #8f833e;
    font-size: 1em;
}

.dog-p {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.2em;
    text-align: left;
}

.dog-header {
    font-size: 2em;
}

.dog-image {
    width: 35em;
    height: 30em;
    border-radius: 2%;
}

.dog-breed {
    font-size: 1.5em;
}

.dog-list {
    font-size: 1.2em;
    list-style: none;
    text-align: left;
}

#breed {
    justify-content: left;
}

.breed-section {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: #f1a669;
    box-shadow: .25em .25em rgb(110, 87, 43);
    border-radius: 5%;
    padding: .5em;
    width: 90%;
    align-items: center;
}

#social-links {
    display: flex;
    position: relative;
    flex-direction: row;
    list-style: none;
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    align-items: center;
    justify-content: space-evenly;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    grid-area: links;
    margin-top: .2em;
}

#social-head {
    text-align: center;
}

#author-head {
    grid-area: author-head;
    padding-bottom: 2em;
    font-size: 2em;
    margin-top: .2em;
}

#author-list {
    grid-area: list;
    text-align: left;
    font-size: 1.2em;
    margin-right: 1em;
}

#avatar {
    grid-area: avatar;
    height: 12em;
    width: 12em;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 20%;
}

#social {
    grid-area: social;
}

.social-pics:hover {
    border-width: .2em;
    border-color: black;
}

#return-home {
    grid-area: return;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: purple;
}

a:active {
    color: purple;
}

#author-info {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 10% auto 10% 15% 5%;
    grid-template-areas: "author-head author-head" "avatar list" "social social" "links links" "return return";
    width: 100vw;
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    padding-right: 2em;
    justify-content: center;
    text-align: center;
    background-color: #c06e52;
    grid-column-gap: 1em;
    border-radius: 2%;
}

@media screen and (max-width: 600px) {
    body {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
        width: 100vw;
        height: auto;
        text-align: center;
        font-size: 12px;
    }
    #blog-post-header {
        display: flex;
        flex-direction: row;
        margin-right: 1em;
        font-size: .95em;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .breed-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: .5em;
        width: 100vw;
    }
    .breed-section ul {
        padding-left: 1em;
        padding-left: 1em;
        width: 90vw;
    }
    #author-head {
        font-size: 1.7em;
        margin-top: 1.5em;
    }
    #author-list {
        margin-top: 3em;
    }
    #avatar {
        margin-top: 0em;
        margin-left: 8em;
    }
    #author-info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10vh auto auto 10vh 15vh 5vh;
        grid-template-areas: "author-head" "avatar" "list" "social" "links" "return";
        width: 100vw;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2em;
        padding-right: 2em;
        justify-content: center;
        text-align: center;
        background-color: #c06e52;
        grid-column-gap: 1em;
        border-radius: 2%;
    }
    #return-home {
        margin-bottom: 0;
    }
}


/*@media only screen and (max-width: 600px) {
    body {
        font-size: 10px;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        height: auto;
    }
}*/

@media only screen and (max-width: 300px) {
    body {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
        width: 100vw;
        height: auto;
        text-align: center;
        font-size: 10px;
    }
    .breed-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: .5em;
    }
    #author-head {
        font-size: 1.7em;
    }
    #author-list {
        margin-top: 1em;
    }
    #avatar {
        margin-top: 0em;
    }
    #author-info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 10vh auto auto 10vh 15vh 5vh;
        grid-template-areas: "author-head" "avatar" "list" "social" "links" "return";
        width: 100vw;
        height: 90vh;
        margin-left: 0;
        margin-right: 0;
        margin-top: 2em;
        padding-right: 6em;
        justify-content: center;
        text-align: center;
        background-color: #c06e52;
        grid-column-gap: 1em;
        border-radius: 2%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    #blog-post-header {
        width: 100%;
    }
}