@media screen and (max-width: 600px) {
    body {
        font-size: 12px;
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 18px;
    }
    #blog-post-header {
        width: 100%;
    }
}