@import url("main.grid.index.css");
@import url("mediaqueries.css");
@import url("photo.grid.index.css");
body {
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: #fdfdfd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-header {
    font-size: 1.5em;
    margin-top: 0em;
    margin-left: .2em;
    text-align: left;
    color: white;
    text-shadow: 1px 2px black;
    width: 100%;
}

.card-text {
    position: absolute;
    bottom: 1em;
    margin-bottom: 1em;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 25%;
    background-color: #8f7983;
    box-shadow: 1px 4px #362d31;
    padding: .5em;
    margin-left: .1em;
    margin-right: .1em;
    font-size: 1em;
}

#header {
    display: flex;
    flex-direction: column;
    background-color: #fbf2c0;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    grid-area: header;
    line-height: .1em;
}

#navbar {
    display: flex;
    flex-direction: column;
    background-color: #c4a287;
    line-height: 2em;
    align-items: flex-start;
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    margin-left: 0;
    grid-area: nav;
}

#nav-items {
    text-align: left;
    margin-left: 0;
    padding-left: .5em;
}

#nav-items a:hover {
    color: purple;
}

#nav-items a:active {
    color: purple;
}

li {
    list-style-type: disc;
}

a {
    text-decoration: none;
    color: black;
}

.card-button {
    position: absolute;
    bottom: 0;
    border-radius: 35%;
    left: 35%;
}

.card-button:hover {
    background-color: rgb(189, 184, 184);
}

.card-button:active {
    background-color: rgb(189, 184, 184);
    transform: translateX(.2em);
}

.card-button a {
    color: black;
    font-size: 1.2em;
    padding: .12em;
}

footer {
    text-align: center;
    background-color: #c06e52;
    font-size: .85em;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-top: .5em;
    line-height: .5em;
    padding-bottom: 1em;
    grid-area: footer;
}

#golden-card {
    grid-area: golden;
    text-align: center;
    background-image: url("../../pictures/golden-retriever.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#lab-card {
    grid-area: lab;
    text-align: center;
    background-image: url("../../pictures/labrador retriever.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#beagle-card {
    grid-area: beagle;
    text-align: center;
    background-image: url("../../pictures/beagle_pic.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#border-card {
    grid-area: collie;
    text-align: center;
    background-image: url("../../pictures/Border-Collie.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card {
    text-align: center;
    border-radius: 2%;
    border-width: .2em;
    position: relative;
}

@media only screen and (max-width: 850px) {
    body {
        font-size: 12px;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #header {
        display: flex;
        flex-direction: column;
        background-color: #fbf2c0;
        width: 100%;
        text-align: center;
        margin-top: 1em;
        line-height: .2em;
        margin-left: 0;
        grid-area: header;
        font-size: .8em;
        /*padding-right: 2em;*/
    }
    #header p {
        flex-wrap: wrap;
        line-height: 1.5em;
        /*margin-right: 2em;
        margin-left: 2em;*/
        font-size: 1.15em;
        text-align: center;
    }
    #header h1 {
        padding-top: .5em;
    }
    #navbar {
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 2;
        top: 0;
        width: 100vw;
        margin-left: 0;
        grid-area: nav;
    }
    #nav-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-items: space-between;
    }
    #nav-items li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: space-evenly;
        align-items: space-evenly;
        margin-left: .1em;
        margin-right: 1em;
        text-decoration: underline;
    }
    .card {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 50vh;
        margin-left: 0;
        margin-right: 1em;
        text-align: center;
        padding-left: 0;
        /*width: 5%;
        height: 90%;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 1.15em;*/
    }
    .card-text {
        padding-left: 1em;
        padding-right: 1em;
        width: 90vw;
        margin-left: .5em;
        margin-right: 1em;
    }
    .card-button {
        text-align: center;
    }
    #card-container {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 50vh;
        grid-template-areas: "golden" "lab" "beagle" "collie";
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
    }
    #master-container {
        display: grid;
        grid-template-rows: 5% 12% auto 5%;
        grid-template-columns: auto;
        grid-template-areas: "nav" "header" "cards" "footer";
        width: 100vw;
        height: 200vh;
        z-index: 1;
    }
}